<!DOCTYPE html>
<html lang="en">
  <head>
    {{ fontawesome_html() }}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwiftErrand+</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
    <link rel="icon" href="{{ url_for('static', filename='images/icon_dark.png') }}" type="image/png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}"/>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet"/>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
    <script src="https://kit.fontawesome.com/83905eaae9.js" crossorigin="anonymous"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" id="nav_company_name">
            <img src="{{ url_for('static', filename='images/nav_logo_light.png') }}" alt="Logo" class="d-inline-block align-text-top" id="nav_logo"/>
            SwiftErrand<span>+</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Our Services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Personal Tasks:</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Grocery Shopping</a></li>
                  <li><a class="dropdown-item" href="#">School Pickups</a></li>
                  <li><a class="dropdown-item" href="#">Baby Sitting</a></li>
                  <li><a class="dropdown-item" href="#">Pet Services</a></li>
                  <li><a class="dropdown-item" href="#">Medicine Pickup</a></li>
                  <li><a class="dropdown-item" href="#">Meal Delivery</a></li>
                  <li><a class="dropdown-item" href="#">Gift Shopping</a></li>
                  <li><a class="dropdown-item" href="#">Event Supplies</a></li>
                  <li><a class="dropdown-item" href="#">Library Returns</a></li>
                  <li><a class="dropdown-item" href="#">Clothing Alterations</a></li>
                  <li><a class="dropdown-item" href="#">Plant Care</a></li>
                  <li><a class="dropdown-item" href="#">Elderly Assistance</a>
                  </li><li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Professional Tasks:</a>
                  </li><li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Document Delivery</a></li>
                  <li><a class="dropdown-item" href="#">Dry Cleaning/Pickup</a></li>
                  <li><a class="dropdown-item" href="#">Banking Tasks</a></li>
                  <li><a class="dropdown-item" href="#">Postal Services</a></li>
                  <li><a class="dropdown-item" href="#">Tech Support</a></li>
                  <li><a class="dropdown-item" href="#">Home Cleaning</a></li>
                  <li><a class="dropdown-item" href="#">Event Supplies</a></li>
                  <li><a class="dropdown-item" href="#">Home Repairs</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link">Contact Us</a></li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section id="hero" class="p-5">
        <div class="container">
          <div class="row aling-items-center justify-content-between">
            <div class="col-md">
              <img src="{{ url_for('static', filename='images/hero_image.jpg') }}" class="img-fluid rounded-start-pill" alt="hero"/>
            </div>
            <div class="col-md p-8">
              <h2 id="hero-h2">
                SwiftErrand<span><em>plus</em></span>
              </h2>
              <p class="tag-line"><em>...let's take care of it for you!</em></p>
              <p id="firstParagraph">
                Our WebApp plays a pivotal role in connecting users with
                dedicated agents who excel in handling a wide range of household
                errands. Our platform serves as a conduit for individuals
                seeking solutions to various daily challenges. These can
                encompass time constraints that prevent them from completing
                tasks, mobility limitations that impede their movement, safety
                concerns that require assistance, transportation obstacles,
                distance from stores, the desire for added convenience,
                health-related considerations, and the need for specialized
                assistance.
              </p>
              <p id="secondParagraph" style="display: none">
                Our mission is to alleviate these hurdles by seamlessly pairing
                users with experienced agents who are committed to providing
                comprehensive support. Our unique approach ensures that users
                can delegate errands and responsibilities to trustworthy
                professionals, freeing up their time and energy to focus on what
                truly matters to them. Through our innovative platform, we
                create a harmonious synergy between users' needs and agents'
                expertise, offering a convenient and efficient solution to the
                challenges of modern life.
              </p>
              <a href="#" class="btn btn-light mt-3" id="readMoreButton">
                <i class="bi bi-chevron-right"></i>Read More
              </a>
            </div>
          </div>
        </div>
      </section>

      <section id="features" class="p-5">
        <div class="container">
          <div class="row text-center g-4">
            <div class="col-md">
              <div class="card bg-dark text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-person-workspace"></i>
                  </div>
                  <h3 class="card-title mb-3">How It Works</h3>
                  <p class="card-text">
                    SwiftErrand+ simplifies tasks by connecting users with
                    skilled agents, ensuring efficient delegation for
                    convenience.
                  </p>
                  <a href="#" class="btn btn-outline-success">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card bg-secondary text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-bullseye"></i>
                  </div>
                  <h3 class="card-title mb-3">Get Started</h3>
                  <p class="card-text">
                    Start by signing up, creating tasks with preferences, and
                    selecting agents to delegate errands efficiently.
                  </p>
                  <a href="{{ url_for('login') }}" class="btn btn-dark">Sign In</a>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card bg-dark text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-tools"></i>
                  </div>
                  <h3 class="card-title mb-3">Tasks</h3>
                  <p class="card-text">
                    Our agents are skilled in performing a variety of tasks.
                    <a href="#">Click here</a> to explore the available tasks or
                    follow the link below to:
                  </p>
                  <a href="{{ url_for('login') }}" class="btn btn-outline-success">Create Task</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="testimonials">
        <div id="testimonial-carousel" class="carousel slide">
          <div class="carousel-inner">
            <h2 id="testimonialheading" class="text-center mb-4">
              Testimonials
            </h2>
            <div class="carousel-item active container-fluid">
              <h5>
                "SwiftErrand+ is a lifesaver, making managing errands effortless
                amidst the chaos of work, family, and personal commitments. From
                groceries to dry cleaning, it's my trusted solution, offering
                unmatched convenience and reliability."
              </h5>
              <img class="testimonial-img" src="{{ url_for('static', filename='images/testimonial-pix(2).jpg') }}" alt="testimonial-pix"/>
              <p><em>Samantha R. - Busy Professional</em></p>
            </div>
            <div class="carousel-item container-fluid">
              <h5>
                "As a senior citizen, mobility challenges can be tough.
                SwiftErrand+ has rekindled my independence. With a few taps, I
                arrange prescription pickups, get groceries delivered, and even
                schedule medical appointments. It truly caters to the needs of
                seniors like me."
              </h5>
              <img class="testimonial-img" src="{{ url_for('static', filename='images/testimonial-pix(1).jpg') }}" alt="testimonial-pix"/>
              <p><em>Mike H. - Senior Citizen</em></p>
            </div>
            <div class="carousel-item container-fluid">
              <h5>
                "SwiftErrand+ is my ultimate lifesaver, effortlessly managing
                my errands amidst the chaos of work, family, and personal
                commitments. From groceries to dry cleaning, it's my go-to
                solution, offering unmatched convenience and reliability."
              </h5>
              <img class="testimonial-img" src="{{ url_for('static', filename='images/testimonial-pix(2).jpg') }}" alt="testimonial-pix"/>
              <p><em>Samantha R. - Busy Professional</em></p>
            </div>
            <div class="carousel-item container-fluid">
              <h5>
                "SwiftErrand+ is my ultimate work-life balance tool. As a busy
                working mom, I'm always on the go. This app has streamlined my
                errands, saving me countless hours. From school drop-offs to
                home repairs, SwiftErrand+ simplifies my daily routine."
              </h5>
              <img class="testimonial-img" src="{{ url_for('static', filename='images/testimonial-pix(3).jpg') }}" alt="testimonial-pix"/>
              <p><em>Emma S. - Working Mom</em></p>
            </div>
            <div class="carousel-item container-fluid">
              <h5>
                "SwiftErrand+ transformed my bustling college life. This app
                revolutionized my time management, from sending packages to
                quick meals. Its swift, reliable service grants me the freedom
                to prioritize studies and passions amidst my busy schedule."
              </h5>
              <img class="testimonial-img" src="{{ url_for('static', filename='images/testimonial-pix(4).jpg') }}" alt="testimonial-pix"/>
              <p><em>Jason M. - College Student</em></p>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

      <section id="faq" class="p-5">
        <div class="container">
          <h2 class="text-center mb-4">Frequently Asked Questions</h2>
          <div class="accordion accordion-flush" id="questions">
            <!-- Item 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-one">
                  What services does your errand business/WebApp offer?
                </button>
              </h2>
              <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                  Our errand business/WebApp provides a wide range of services
                  designed to ease your daily tasks. We offer services such as
                  grocery shopping, prescription pickups, dry cleaning delivery,
                  package sending, meal delivery, appointment scheduling, and
                  more.
                </div>
              </div>
            </div>
            <!-- Item 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two">
                  How do I place an errand request using your WebApp?
                </button>
              </h2>
              <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Placing an errand request is easy! Simply visit our website,
                  sign up or log in, and then select the specific errand you
                  need assistance with. Provide the necessary details, such as
                  the items you need, the pickup/delivery location, and any
                  special instructions. Our reliable runners will take care of
                  the rest.
                </div>
              </div>
            </div>
            <!-- Item 3 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three">
                  How do you ensure the security and confidentiality of my
                  errands?
                </button>
              </h2>
              <div id="question-three" class="accordion-collapse collapse">
                <div class="accordion-body">
                  Your security and privacy are our top priorities. We implement
                  strict security measures to safeguard your personal
                  information and items. Our runners undergo thorough background
                  checks, and we use secure communication channels for all
                  interactions. Additionally, we have insurance coverage to
                  protect against any unforeseen circumstances.
                </div>
              </div>
            </div>
            <!-- item 4 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-four">
                  How do you determine the pricing for errand services?
                </button>
              </h2>
              <div id="question-four" class="accordion-collapse collapse">
                <div class="accordion-body">
                  Our pricing is based on factors such as the type of errand,
                  distance, complexity, and any additional services requested.
                  You'll receive a transparent breakdown of the costs before
                  confirming your request. We strive to offer competitive rates
                  while ensuring the quality of service.
                </div>
              </div>
            </div>
            <!-- item 5 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-five">
                  What is the average turnaround time for completing errand
                  requests?
                </button>
              </h2>
              <div id="question-five" class="accordion-collapse collapse">
                <div class="accordion-body">
                  The turnaround time varies depending on the nature of the
                  errand and the current demand. However, we prioritize
                  efficiency and promptness. Most errands are completed within a
                  few hours, and we offer expedited options for urgent tasks.
                  You'll receive real-time updates on the progress of your
                  request through our WebApp.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="teamembers" class="p-5 bg-dark">
        <div class="container"></div>
        <h2 class="text-center text-white mb-5">Development Team Members</h2>
        <p class="lead text-center text-white mb-5">
          Our members are experienced software engineers in the industry.
        </p>
        <div class="row g-4">
          <div class="col-md-6 col-lg-3">
            <div class="card bg-secondary">
              <div class="card-body text-center">
                <img src="{{ url_for('static', filename='images/tm-img1.jpg') }}" height="100px" class="rounded-circle mb-3" alt="team-portrait1"/>
                <h3 class="card-title mb-3">Joshua M.</h3>
                <p class="card-text">
                  A software engineer with a passion for programming that loves
                  to code and solve real life problems with code. Cheers!
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card bg-secondary">
              <div class="card-body text-center">
                <img src="{{ url_for('static', filename='images/tm-img2.jpg') }}" height="100px" class="rounded-circle mb-3" alt="team-portrait2"/>
                <h3 class="card-title mb-3">Jannat N.</h3>
                <p class="card-text">
                  A lab technician with passion for programming that love to
                  code and solve problems. I am a good team player.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card bg-secondary">
              <div class="card-body text-center">
                <img src="{{ url_for('static', filename='images/tm-img3.jpg') }}" height="100px" class="rounded-circle mb-3" alt="team-portrait3"/>
                <h3 class="card-title mb-3">Adeyemi O.</h3>
                <p class="card-text">
                  Skilled Software Engineer with expertise in designing and
                  developing innovative solutions to complex problems.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card bg-secondary">
              <div class="card-body text-center">
                <img src="{{ url_for('static', filename='images/tm-img4.jpg') }}" height="100px" class="rounded-circle mb-3" alt="team-portrait3"/>
                <h3 class="card-title mb-3">Adegboye A.</h3>
                <p class="card-text">
                  A charming Software Engineer with vasts experience in creating
                  complex software solutions to solve real life problems.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="p-5">
        <h2 class="text-center mb-4 text-white">Our Location</h2>
        <div id="map"></div>
      </section>
    </main>

    <footer id="footer" class="p-5 text-white text-center position-relative">
      <div class="footer-container">
        <a href=""><i class="social-icon fa-brands fa-github fa-lg"></i></a>
        <a href=""><i class="social-icon fab fa-facebook-f fa-lg"></i></a>
        <a href=""><i class="social-icon fab fa-twitter fa-lg"></i></a>
        <a href=""><i class="social-icon fab fa-instagram fa-lg"></i></a>
        <a href=""><i class="social-icon fas fa-envelope fa-lg"></i></a>
        <p>&copy Bumiche, Jma85 & LabyKreative 2023 Portfolio Project</p>
        <a href="#" class="position-absolute bottom-0 end-0 p-5">
          <i id="scrollup" class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
  </body>
</html>
