<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SwiftErrand+</title>
        <link rel="icon" href="{{ url_for('static', filename='images/icon_dark.png') }}" type="image/png">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/0-index.css') }}">
    </head>
    <body>
        <nav>
            <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Create</a></li>
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">Agents</a></li>
            <li><a href="#">filter/sort</a></li>
            <li><a href="#">call/chart</a></li>
            <li><a href="#">setting</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">supports/helps</a></li>
            </ul>
        </nav><br>
        <form id="search">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
            <input type="url" placeholder="https://...">
            <button type="submit">Go</button>
        </form>
        <img src=" {{ url_for('static', filename='images/shopimg.jpeg') }} " alt="Shopping image">
        <div class="errands">
            <h1>Introduction</h1>
            <p>
                SwiftErrandsplus is a modern app for daily errands in the city. It is an app that
                help lift the burden of daily cures by the busy workers and help them to do their
                daily errands with the ease. It also assist business by delivering the errands
                to their customers at the right time.
                SwiftErrandsplus is a versatile app that enhances productivity, save time,
                and simplifies tasks management, ultimately helping
                users organizesd and accoumplish more in their daily lives
            </p>
        </div>
        <button class="delete-button">Delete your task</button>
        <button class="create-button">Create your task</button>
        <section class="benefits">
            <h2>Benefits of using SwiftErrandsplus App</h2>
            <p>
                SwiftErrandsplusis a powerful app designed to streamline and simplify everyday tasks
                and errands. Here are some key Benefits of using SwiftErrandsplus:
                <ul>
                    <li>
                        Efficiency: SwiftErrandsplus allows you to Efficiently manage and organize your tasks, errands, and appointments
                        all in one place. With its intuitive interface and customizable features, userscan
                        easily prioritize and schedule their activities, ensuring they stay on top of their to-do list.
                    </li>
                    <li>
                        Time saving: By utilizing SwiftErrandsplus, users can save valuable time by automating recurring tasks and setting reminders.
                        The app also offers smart suggestions and predictive features, making it easier to quickly input tasks and reduce manual entry
                    </li>
                    <li>
                        Collaboration: SwiftErrandsplus supports collaboration, enableling users to share their tasks and delegate
                        responsibilities to others. This is particularly useful for teamwork, family coordination, or
                        delegating tasks to assistance or team members.
                    </li>
                    <li>
                        Location-based Services: The app leverages location-baseds Services to provide users with relevant information based on their current
                        whereabouts. This includes suggestions for nearby services, stores and more, making it convenient for users to complete
                        their errands Efficiently.
                    </li>
                    <li>
                        Personalization: SwiftErrandsplus offers a high level of Personalization, allowing users to custom tags, categories, and filters, enableling users to organize and Sort tasks based on their preferences. 
                    </li>
                </ul>
            </p>
            <button class="testify">Testimonies</button>

            <footer>
                    <div class="footer-content">
                    <p>&copy; 2023 SwfitErrands Plus. All rights reserved.</p>
                    <p>Designed and developed by: JANNAT Jannat, Laby Owolabi, Joshua monday</p>
                    </div>
            </footer>
    </body>
    <script src="/static/scripts/0-index.js" text type="javascript"></script>
</html>
