<!DOCTYPE html>
<html lang="en">
  <head>
    {{ fontawesome_html() }}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwiftErrand+</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
    <link rel="icon" href="{{ url_for('static', filename='images/icon_dark.png') }}" type="image/png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}"/>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet"/>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
    <script src="https://kit.fontawesome.com/83905eaae9.js" crossorigin="anonymous"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" id="nav_company_name">
            <img src="{{ url_for('static', filename='images/nav_logo_light.png') }}" alt="Logo" class="d-inline-block align-text-top" id="nav_logo"/>
            SwiftErrand<span>+</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link active" arial-current="page">Dashboard</a></li>
              <li class="nav-item"><a href="{{ url_for('logout', next='landing_page') }}" class="nav-link">Logout</a></li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <body>
        <footer id="footer" class="p-5 text-white text-center position-relative">
        <div class="footer-container">
            <a href=""><i class="social-icon fa-brands fa-github fa-lg"></i></a>
            <a href=""><i class="social-icon fab fa-facebook-f fa-lg"></i></a>
            <a href=""><i class="social-icon fab fa-twitter fa-lg"></i></a>
            <a href=""><i class="social-icon fab fa-instagram fa-lg"></i></a>
            <a href=""><i class="social-icon fas fa-envelope fa-lg"></i></a>
            <p>&copy Bumiche, Jma85 & LabyKreative 2023 Portfolio Project</p>
        </div>
        </footer>
    </body>

</html>