@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-weight: 200;
  background-color: #FF4500;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

/* Narbar */
#nav_logo{
  width: 40px;
  height: 34px;
}

#nav_company_name{
  font-weight: 900;
  font-size: 30px;
}

.navbar-brand span{
  color: #FF4500;
}

.nav-link:hover,
.navbar-nav .nav-item.dropdown:hover .dropdown-menu a.dropdown-item:hover{
  color: #FF4500;
}

.btn-outline-light{
  border-color: #FF4500;
  color: #FFFFFF;
}

.btn-outline-light:hover{
  background-color: #FF4500;
  border-color: #FF4500;
}

section{
  padding: 50px 0;
  height: 50%;
}

/* Hero section */
#hero{
  padding-top: 10%;
  margin-top: 80px;
}

.tag-line{
  font-size: 20px;
  font-weight: 200;
}

/* Features section */
#features{
  background-image: url('https://media.istockphoto.com/id/993314284/photo/buy-app.jpg?s=2048x2048&w=is&k=20&c=lqJHQGeTYaS0nsUAR9gRXW7cTMc7wMnNIR16dArPEc0=');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

/* Testimonial section */
#testimonials{
  text-align: center;
  color: #343A40;
}

#testimonialheading{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 30px;
}

.testimonial-img{
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.carousel-item{
  padding: 7% 15%;
}

h5{
  color: #FFFFFF;
}

/* FAQ section */
#faq{
  background-color: #FFFFFF;
  padding: 50px 0;
}

/* Team members */

/* Footer */
#footer {
  margin-top: auto;
  padding-bottom: 0px;
  text-align: center;
  cursor: pointer;
  bottom: 0;
}

.footer-container {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #FF4500;
  border-top: #FFFFFF;
  border-top-style: dotted;
  border-top-width: 1px;
}

p{
  margin-bottom: 0px;
  color: #FFFFFF;
  padding-bottom: 10px;
  cursor: auto;
}

.social-icon {
  margin: 20px 10px;
  color: #FFFFFF;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #343A40;
}

#scrollup {
  color: white;
  transition: color 0.3s ease;
}

#scrollup:hover {
  color: #343A40;
}
